body {
    background-color: #1b6d85;
}

.header {
    height: 100px;
    background-color: ghostwhite;
}

.login-box {
    margin-top: 5%;
    background-color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
}

#login-box-form {
    padding: 5% 5px 5% 5px;
}

.upload-box {
    margin-top: 5%;
    padding: 2%;
    height: 500px;
    border: dashed;
    background-color: whitesmoke;
}

#uploadForm {
    display: none;
}

#upload-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

#file-box {
    margin-top: 5%;
    padding: 3%;
    background-color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
}

.file-browser {
}

#files-table-head {
    font-size: 115%;
    font-weight: bold;
}

.file-row:hover {
    background-color: #eeeeee;
}

.clickable {
    cursor: pointer;
}

.fa-color-danger {
    color: #d9534f;
}
