<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/moment-with-locales.js"></script>
    <script src="/static/js/filebrowser.js"></script>
    <script src="/static/js/sweetalert2.min.js"></script>
    <script src="/static/js/clipboard.min.js"></script>
    <title>Clinton's File Uploader</title>

    <meta name="gorilla.csrf.Token" content="{{.CSRF}}">
</head>
<body>

<nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Clinton's File Uploader</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Upload Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">View Files</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item pull-12">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="col-md-8 offset-2">
                <div id="file-box">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>Your Files</h2>
                        </div>
                    </div>
                <div class="file-browser" style="min-height: 480px">
                    <table class="table">
                        <thead id="files-table-head">
                        <tr>
                            <td>File Name</td><td>URL</td><td>Size</td><td>Uploaded</td><td>Delete</td>
                        </tr>
                        </thead>
                        <tbody id="files-table-body">
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info">Your current files are all listed above.</div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>