<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/sweetalert2.min.js"></script>
    <script src="/static/js/clipboard.min.js"></script>
    <script src="/static/js/index.js"></script>
    <title>Clinton's File Uploader</title>

    <meta name="gorilla.csrf.Token" content="{{.CSRF}}">
</head>
<body>

<nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Clinton's File Uploader</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Upload Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/files">View Files</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item pull-12">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 align-items-center">
            <div id="uploadbox" class="upload-box">
                <!--
                <form action="/upload" class="dropzone" id="my-awesome-dropzone">
                    <input type="file" name="file" />
                </form>
                -->
                <div class="row h-75">
                <div class="col-12 my-auto text-center">
                <!--<div id="upload-text" class="text-center"> -->
                    <h2>Drag a file here</h2>
                </div>
                </div>
                <form id="uploadForm" action="/upload" enctype="multipart/form-data">
                    <input class="btn" type="file" name="file">
                    <button class="btn btn-lg btn-primary" type="submit" id="uploadButton" name="submit">Submit</button>
                </form>
                <div class="row h-25">
                    <div class="col-12">
                        <div id="upload-progress">
                            <h3 id="percentage" class="text-center">0%</h3>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>