<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <title>Clinton's File Uploader - Login</title>
</head>
<body>
<nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Clinton's File Uploader</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item pull-12">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="login-box">
            <h2 class="text-center">Login</h2>
                <div id="login-box-form" class="col-12 col-md-10 offset-1">
                    <form id="login-form" action="/login" method="post">
                        <div class="form-group form-group-lg">
                            <label for="username">Username</label>
                            <input id="username" class="form-control" type="text" name="username">
                            <label for="password">Password</label>
                            <input id="password" class="form-control" type="password" name="password">
                            {{ .csrfField }}
                        </div>
                        <div class="form-group form-group-lg">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                        </div>
                    </form>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>